* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: url(images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

/* NAVBAR */

nav {
  background: black;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(90deg, #ff7a18, #ffd200, #00c6ff, #7f00ff);
  user-select: none;
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-logo {
  height: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

/* LAYOUT */

.container {
  display: flex;
  gap: 40px;
  padding: 40px;
}

/* LEFT PANEL */

.left-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reply {
  margin-bottom: 12px;
  margin-top: 18px;
}

.search-bar input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  background: #222;
  color: white;
}

.search-bar input::placeholder {
  color: #aaa;
}

.stories {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.story-card {
  background: #111;
  padding: 25px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.tag {
  display: inline-block;
  background: rgba(127, 0, 255, 0.15);
  color: #7f00ff;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 600;
}

.author {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
}

.timestamp {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}

.story-card p {
  line-height: 1.6;
}

/* FORM */

.form-card {
  width: 35%;
  background: #111;
  padding: 25px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.form-group {
  margin-bottom: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #222;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}
textarea {
  min-height: 120px;
  resize: vertical;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background: linear-gradient(135deg, #7f00ff, #5b00cc);
}

/* MOBILE */

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  nav ul.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .container {
    flex-direction: column;
  }

  .left-panel,
  .form-card {
    width: 100%;
  }
}
